<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AILightroom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <AILightroom.Properties.Settings>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowSplit" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ProvidersWindowHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ProvidersWindowWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ProvidersWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProvidersWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProvidersWindowSplit" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ConfigPath" serializeAs="String">
        <value />
      </setting>
    </AILightroom.Properties.Settings>
  </userSettings>
</configuration>